<!DOCTYPE html>
<html>
<head>
  <title></title>
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
  <div class="main">    
    <input type="checkbox" id="chk" aria-hidden="true">

      <div class="signup">
        <form [formGroup]="cadastroPetsForm" (ngSubmit)="cadastrar()">
          <label for="chk" aria-hidden="true">Cadastro de Pets</label>
        
          <input type="text" formControlName="name" placeholder="Nome do Pet" required>
          <input type="number" formControlName="age" placeholder="Idade do Pet" required>
          <input type="text" formControlName="color" placeholder="Cor do Pet" required>
          <input type="text" formControlName="breed" placeholder="Raça do Pet (Opcional)">
          <input type="text" formControlName="animalType" placeholder="Tipo de Animal" required>
          <input type="date" formControlName="birthdate" placeholder="Data de Nascimento" required>
          
          <button type="submit" [disabled]="!cadastroPetsForm.valid">Realizar cadastro</button>
          <br><br><br><br>
        </form>
      </div>
  </div>
</body>
</html>
