<body>
    <div class="main">
      <input type="checkbox" id="chk" aria-hidden="true">
  
      <div class="signup">
        <form [formGroup]="cadastroForm" (ngSubmit)="resetPassword()">
          <label for="chk" aria-hidden="true">Troque </label>
          <label for="chk" style="margin-top: -30px;" aria-hidden="true"> sua senha</label>
          <input type="password" formControlName="password" placeholder="Senha" required>
          <input type="password" formControlName="confirmPassword" placeholder="Confirme a Senha" required>
  
          <div *ngIf="showPasswordMismatchError() && !showPasswordStrengthError()" class="error-message">
            As senhas não coincidem.
          </div>
          <div *ngIf="showPasswordStrengthError()" style="padding-top: 10px !important; padding-bottom: 10px;">
            <p class="error-message">
              Para sua segurança, sua senha deve conter letras maiúsculas, minúsculas, números e caracteres especiais.
            </p>
          </div>
  
          <div *ngIf="errorMessage">
            <p class="error-message">{{ errorMessage }}</p>
          </div>
          <button style="margin-bottom: 10px !important;" [disabled]="!cadastroForm.valid" type="submit">Realizar cadastro</button>
        </form>
      </div>
    </div>
  </body>
  