<body>
  <main>
    <nav class="main-menu">
      <div class="container">
        <div class="dog">
          <div class="dog-head">
            <div class="dog-ears ears-left"></div>
            <div class="dog-ears ears-right"></div>
            <div class="dog-eyes"></div>
            <div class="dog-mouth">
              <div class="dog-nose"></div>
              <div class="dog-tongue"></div>
            </div>
          </div>
          <div class="dog-tail"></div>
          <div class="dog-body">
            <div class="dog-foot"></div>
          </div>
          <div class="ball"></div>
        </div>
      </div>
      <h1>PetConnect</h1>
      <h4 *ngIf="isAdmin" style="color: rgb(225, 0, 255); margin-left: 35%;">Visão admin</h4>
      
   

      <ul>
        <li class="nav-item"  [ngClass]="{'active': activeItem === 0}" (click)="setActive(0); filterAppointments()">
          <b></b>
          <b></b>
          <a >
            <i class="fa fa-house nav-icon">Salão</i>
            <span class="nav-text">Banho e tosa</span>
          </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': activeItem === 1}" (click)="setActive(1); filterVeterinarianAppointments()">
          <b></b>
          <b></b>
          <a >
            <i class="fa fa-user nav-icon">Vet</i>
            <span class="nav-text">Veterinario</span>
          </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': activeItem === 2}" (click)="setActive(2)">
          <b></b>
          <b></b>
          <a >
            <i class="fa fa-calendar-check nav-icon">Agendar</i>
            <span class="nav-text">Agendar</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="!isAdmin" [ngClass]="{'active': activeItem === 3}" (click)="setActive(3)">
          <b></b>
          <b></b>
          <a >
            <i class="fa fa-person-running nav-icon">Pet</i>
            <span class="nav-text">Meu pet</span>
          </a>
        </li>
      </ul>
      <button style="margin-left: 40%; margin-top: 10%;" (click)="logOut()" class="botao">sair</button>
    </nav>
    <div class="content">
      <div class="left-content">
        <div *ngIf="activeItem === 0" class="activities" style="text-align: center; ">
          <h1 style="width: 80%; margin-right: 10%; margin-top: 4%; " data-shadow='dang!'>Banho e tosa</h1>
  
  
          <app-scheduler (editAppointmentEvent)="onEditAppointment($event)" [appointments]="filteredAppointments"></app-scheduler>
        </div>


        <div *ngIf="activeItem === 1" style="text-align: center; ">
          <h1 style="width: 80%; margin-right: 10%; margin-top: 4%; " data-shadow='dang!'>Veterinário</h1>
          <app-scheduler (editAppointmentEvent)="onEditAppointment($event)" [appointments]="filteredAppointments"></app-scheduler>
        </div>


        <div *ngIf="activeItem === 2">
          <app-new-appointment [appointmentId]="selectedAppointmentId"></app-new-appointment>
        </div>


        <div *ngIf="activeItem === 3" >
          <div style="text-align: center; margin-top: 50px; margin-right: 5%;">
            <h1 >PetConnect</h1>
            <h2>seu pet sempre bem cuidado.</h2>
            <div class="responsive">
              <div style=" display: flex;">
              <button   (click)="redirect('pets')" class="botao">Acessar perfil do meu pet</button>
              <button  (click)="redirect('perfil-cliente')" class="botao">Acessar meu perfil</button>
              </div>
              <div style="margin-top: 50%; margin-left: 35%;">
              <app-dog ></app-dog>
            </div>
            </div>
          </div>
          <div class="dog" style="text-align: center; margin-top: 13%;">
            <div class="desktop">
            <div style="margin-left: -130px !important; display: flex;">
            <button style="margin-right: 15vh !important;"  (click)="redirect('pets')" class="botao">Acessar perfil do meu pet</button>
            <button style="margin-right: 10vh !important;"  (click)="redirect('perfil-cliente')" class="botao">Acessar meu perfil</button>
            </div>
            
           
          </div>
            <app-dog></app-dog>
          </div>
        </div>

        <div>
          <br><br><br>
        </div>
      </div>
    </div>
  </main>
</body>
