@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/5baf8325-ed69-40b0-b9d2-d8c5d2bde3b0);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: grid;
  grid-template-columns: 13% 87%;
  width: 100%;
  height: 100vh;
  margin: 40px;
  background: rgb(254, 254, 254);
  box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset,
    0 1px 0 0 rgba(255, 255, 255, 0.66) inset, 0 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  overflow: hidden;
}

.main-menu {
  overflow: hidden;
  background: rgb(73, 57, 113);
  padding-top: 10px;
  border-radius: 15px 0 0 15px;
  font-family: "Roboto", sans-serif;
}

.main-menu h1 {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin: 20px 0 30px;
  color: #fff;
  font-family: "Nunito", sans-serif;
}

.nav-item {
  position: relative;
  display: block;
}



.dog {
  display: none;
}

@media (min-width: 1200px) {
  .dog {
    display: block;
  }
}



@import url(https://fonts.googleapis.com/css?family=Righteous);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  }

html, body {
  height: 100%;
  }


h1 {
  display: inline-block;
  color: rgb(163, 90, 247);
  font-family: 'Righteous', serif;
  font-size: 5em; 
  height: 10px !important;
  text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
  }
  h1:after {
    content: attr(data-shadow);
    position: absolute;
    top: .06em; left: .06em;
    z-index: -1;
 
    text-shadow: none;
  
    background-size: .05em .05em;

    height: 100px !important;
    animation: shad-anim 15s linear infinite;
    }
















.nav-item a {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1rem;
  padding: 15px 0;
  margin-left: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.nav-item.active a {
  text-decoration: none;
  color: #000;
  background: rgb(254, 254, 254);
}

.content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.left-content {
  display: flex;
  flex-direction: column;
  background: #f6f7fb;
  margin: 15px;
  padding: 20px;
  border-radius: 15px;
  overflow-y: auto;
  height: calc(100vh - 90px); 
}

.botao {
  background-color: #7937f3;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  display: flex;
  align-items: center;
}

.botao:hover {
  background-color: #0056b3;
}

.botao:focus {
  outline: none;
}

.scheduler-container {
  animation: fadeInSlideUp 0.5s ease-in-out;
}


@media (min-width: 1500px) {

  main{
    height: 90%;
  }
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1500px) {
  main {
    grid-template-columns: 6% 94%;
  }

  .main-menu h1 {
    display: none;
  }

  .nav-text {
    display: none;
  }

  .content {
    flex-direction: column;
  }
}

@media (max-width: 1310px) {
  main {
    grid-template-columns: 8% 92%;
    margin: 30px;
  }

  .content {
    flex-direction: column;
  }

  .left-content {
    margin: 15px;
    padding: 20px;
  }

  .botao {
    padding: 8px 16px;
    margin: 10px 0;
    margin-right: 10px;
    font-size: 1rem;
  }
}

@media (max-width: 1150px) {
  .content {
    flex-direction: column;
  }

  .left-content {
    margin: 15px;
    padding: 20px;
  }

  .botao {
    padding: 8px 8px;
    font-size: 0.9rem;
  }
}

@media (max-width: 1050px) {
  .left-content {
    margin: 15px;
    padding: 20px;
  }
}

@media (max-width: 910px) {
  main {
    grid-template-columns: 10% 90%;
    margin: 20px;
  }

  .content {
    flex-direction: column;
  }

  .left-content {
    padding: 30px 20px 20px;
  }
}

@media (max-width: 800px) {
  .content {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  main {
    grid-template-columns: 15% 85%;
  }

  .content {
    flex-direction: column;
  }

  .left-content {
    padding: 10px 20px 10px;
  }
  .dog{
    padding-left: 45% !important;
    margin-top: 175px !important;
  }
}

.nav-icon {
  display: none;
}


@media (max-width: 1500px) {
  .nav-icon {
    display: inline-block;
  }

 
  .nav-text {
    display: none;
  }
}

.dog{
  padding-left: 45% !important;

}


.dog {
  width: 160px;
  height: 186px;
  position: relative;
}
@keyframes head {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-20deg);
  }
  80% {
    transform: rotate(-20deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.dog-head {
  width: 100px;
  height: 90px;
  position: absolute;
  z-index: 5;
  top: 30px;
  left: calc(50% - 50px);
  background-color: #efc092;
  border-radius: 50%;
  animation: head 6s linear infinite;
}
.dog-head:before,
.dog-head:after {
  content: "";
  width: 79px;
  height: 50px;
  position: absolute;
  z-index: 5;
  top: 44px;
  background-color: #efc092;
  border-radius: 50%;
}
.dog-head:before {
  left: -7px;
  transform: rotate(50deg);
}
.dog-head:after {
  right: -7px;
  transform: rotate(-49deg);
}
.dog-mouth {
  width: 60px;
  height: 35px;
  background-color: #fee2d2;
  position: absolute;
  bottom: -15px;
  left: 20px;
  z-index: 10;
  border-radius: 50%;
}
.dog-mouth:after {
  content: "";
  width: 10px;
  height: 40px;
  background-color: #fee2d2;
  position: absolute;
  bottom: 30px;
  left: 24px;
  z-index: 10;
  border-radius: 20px;
}
.dog-nose {
  width: 16px;
  height: 10px;
  position: absolute;
  top: 8px;
  left: calc(50% - 8px);
  background-color: #000;
  border-radius: 50%;
}
@keyframes tongue {
  0% {
    height: 10px;
  }
  30% {
    height: 10px;
  }
  40% {
    height: 20px;
  }
  60% {
    height: 10px;
  }
  80% {
    height: 20px;
  }
  90% {
    height: 10px;
  }
  100% {
    height: 10px;
  }
}
.dog-tongue {
  width: 20px;
  height: 10px;
  position: absolute;
  top: 24px;
  left: calc(50% - 10px);
  background-color: #f4a4ad;
  border-radius: 0 0 10px 10px;
  animation: tongue 4s linear infinite;
}
.dog-eyes {
  width: 10px;
  height: 16px;
  background-color: #000;
  position: absolute;
  top: 52px;
  left: 28px;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 33px 0px 0px #000;
}
.dog-eyes:after {
  content: "";
  width: 92px;
  height: 50px;
  position: absolute;
  top: -50px;
  left: -24px;
  background-color: #efc092;
  border-radius: 50%;
}
.dog-ears {
  width: 80px;
  height: 50px;
  position: absolute;
  z-index: 0;
  top: -2px;
  border-radius: 150px 0 150px 0;
  background-color: #efc092;
}
.dog-ears:after {
  content: "";
  width: 50px;
  height: 30px;
  position: absolute;
  z-index: 0;
  top: 8px;
  left: 20px;
  border-radius: 150px 0 150px 0;
  transform: rotate(-176deg);
  background-color: #fee2d2;
}
.ears-left {
  left: -22px;
  transform: rotate(-105deg);
}
.ears-right {
  right: -22px;
  transform: rotate(-22deg);
}
.dog-body {
  width: 54px;
  height: 60px;
  position: absolute;
  top: 120px;
  left: calc(50% - 35px);
  background-color: #d58b4e;
  border-radius: 49px 0 0 20px;
}
.dog-body:before {
  content: "";
  width: 50px;
  height: 60px;
  position: absolute;
  top: 3px;
  left: calc(50% - 17px);
  background-color: #efbf8e;
  border-radius: 100px 100px 0 0;
}
.dog-body:after {
  content: "";
  width: 15px;
  height: 30px;
  position: absolute;
  top: 32px;
  left: 28px;
  background-color: #d58b4e;
  border-radius: 100px 100px 0 0;
}
.dog-foot {
  width: 20px;
  height: 13px;
  position: absolute;
  z-index: 5;
  bottom: -3px;
  left: 8px;
  background-color: #fce2d3;
  border-radius: 10px 10px 0 0;
  box-shadow: 33px 0 0 #fce2d3;
}
@keyframes tail {
  0% {
    transform: rotate(-47deg);
  }
  100% {
    transform: rotate(-57deg);
  }
}
.dog-tail {
  width: 10px;
  height: 50px;
  position: absolute;
  top: 120px;
  left: calc(50% - 45px);
  background-color: #ecc093;
  transform: rotate(-47deg);
  border-radius: 10px 0 0 0px / 50px 0 0 0px;
  animation: tail .08s infinite alternate;
}
.ball {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0;
  right: 0px;
  border-radius: 50%;
  background-color: #6E64F0;
}