<div class="fundo">
  <aside class="profile-card" >
      <header>

        <a target="_blank" href="#">
         
        </a>
    

        <h1>
                Perfil do usuário
              </h1>
    

        <h2>
                nomeUsuario
              </h2>
    
      </header>
    
      <!-- bit of a bio; who are you? -->
      <div class="profile-bio">
    
        <p>
         aqui voce pode consultar seus dados e editá-los se desejar
        </p>
    
      </div>
    
 
    </aside>
</div>