<div class="fundo">
  <aside class="profile-card">
    <header>
      <!-- <a target="_blank" href="#">

      </a> -->
      <h1 style="color: blueviolet; margin-top: 40px;">Perfil do usuário</h1>
      <br>
      <h2>{{userName}}</h2>
     


    </header>


    <div class="profile-container">
     
      <form [formGroup]="userDataForm" (ngSubmit)="updateUser()">
        <div class="form-group">
          <label for="username">Email:</label>
          <div class="input-wrapper">
            <input type="email" id="username" formControlName="username" class="form-input" >
            <span class="icon" (click)="toggleEdit('username')">&#9998;</span>
          </div>
        </div>

        <div class="form-group">
          <label for="name">Nome:</label>
          <div class="input-wrapper">
            <input type="text" id="name" formControlName="name" class="form-input" >
            <span class="icon" (click)="toggleEdit('name')">&#9998;</span>
          </div>
        </div>

        <div class="form-group">
          <label for="documentNumber">CPF:</label>
          <div class="input-wrapper">
            <input type="text" id="documentNumber" formControlName="documentNumber" class="form-input" >
            <span class="icon" (click)="toggleEdit('documentNumber')">&#9998;</span>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Senha:</label>
          <input type="password" id="password" formControlName="password" class="form-input">
        </div>

        <div class="form-group">
          <label for="confirmPassword">Confirmar Senha:</label>
          <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-input">
        </div>

        <button type="submit" class="btn btn-save">Salvar Alterações</button>
        <button mat-button class="delete" (click)="openDeleteConfirmDialog()">Apagar conta</button>
      </form>
    </div>
  </aside>
</div>
