<body>
  <div class="main">    
    <input type="checkbox" id="chk" aria-hidden="true">

      <div class="signup">
        <form [formGroup]="cadastroForm" (ngSubmit)="cadastrar()">
          <label for="chk" aria-hidden="true">Cadastro</label>
          <input type="text" formControlName="name" placeholder="Usuário" required>
          <input type="email" formControlName="username" placeholder="Email" required>
          <div *ngIf="cadastroForm.get('username')?.touched || cadastroForm.get('username')?.dirty">
            <div *ngIf="cadastroForm.get('username')?.errors?.['email']">
              <p class="error-message">Por favor, insira um endereço de e-mail válido.</p>
            </div>
          
          </div>
          <input type="text" formControlName="documentNumber" appCpfFormat placeholder="CPF">

          <input style="margin-bottom: 50px;" type="password" formControlName="password" placeholder="Senha" required>
 
          <button [disabled]="!cadastroForm.valid" type="submit">Realizar cadastro</button>
          <br>
          <br>
          <br>
          <br>
          
        </form>
      </div>

      <div class="login">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <label for="chk" aria-hidden="true">Login</label>
          <input type="email" formControlName="name" placeholder="Usuário" required="true">
          <input type="password" formControlName="password" placeholder="Senha" required="">
          <button type="submit">Login</button>
          <a href="#" class="esqueciSenha" (click)="esqueciSenha()">Esqueci minha senha</a>
        </form>
      </div>
  </div>
</body>
