<!DOCTYPE html>
<html>
<head>
  <title></title>
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
  <div class="main">    
    <input type="checkbox" id="chk" aria-hidden="true">

      <div class="signup">
        <form [formGroup]="cadastroForm" (ngSubmit)="cadastrar()">
          <label for="chk" aria-hidden="true">Cadastro</label>
          <input type="text" formControlName="usuario" placeholder="Usuário" required>
          <input type="email" formControlName="email" placeholder="Email" required>
          <input type="text" formControlName="cpf" placeholder="Cpf" required>
          <input type="password" formControlName="senha" placeholder="Senha" required>
          <br>
          <br>
          <br>
          <button type="submit">Realizar cadastro</button>
        </form>
      </div>

      <div class="login">
        <form>
          <label for="chk" aria-hidden="true">Login</label>
          <input type="email" name="email" placeholder="Email" required="">
          <input type="password" name="pswd" placeholder="Senha" required="">
          <button>Login</button>
        </form>
      </div>
  </div>
</body>
</html>